:root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-card {
  --day-background : #22d3ee;
  --night-background : #172554;
  --standard-black : #0a0a0a;
  --standard-white : #fafafa;
}

.day {
  background-color:  var(--day-background);
  border-color: var(--standard-black);
}

.night {
  background-color: var(--night-background);
  color: var(--standard-white);
  border-color: var(--standard-white);
}

.weather-card {
  padding : 16px 64px;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
}

.location-settings {
  display: flex;
  gap : 16px;
  justify-content: space-between;
  align-items: center;
}

.location {
  font-size: 24px;
  font-weight: 700;
}

.location-select {
  outline: none;
  border: none;
  border-bottom: 1px solid;

  font-size: 16px;
}

.location-options {
  background-color: var(--standard-white);
  color : var(--standard-black);
  text-align: center;
  font-weight: 700;
}